*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}
.box{
    border: 1px solid black;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: blue;
}
.dark-orange{
    background-color: darkorange;
}
.light-purple{
    background-color: lightpink;
}
.dark-purple{
    background-color: blueviolet;
}
.yellow{
    background-color: yellow;
}
.gray{
    background-color: gray;
}
.light-blue{
    background-color: aqua;
}