*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.circle-main{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}
.circle-one{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 50px solid red;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle-one::before{
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 25px solid gray;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 2px 0px 5px 5px rgb(61, 61, 61);
}

.scroll-circle{
    width: auto;
    height: 100vh;
    position: relative;
}

.circle-two{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(0, 137, 187);
    width: 305px;
    height: 310px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.circle-three{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(255, 107, 107);
    width: 305px;
    height: 310px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.circle-three > p{
    text-align: center;
}

.circle-four{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(104, 0, 120);
    width: 305px;
    height: 310px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


