*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}
.box{
    border: 1px solid black;
}
.red{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: blue;
}
.dark-red{
    background-color: darkred;
}
.dark-purple{
    background-color: darkblue;
    grid-column-start: 2;
    grid-column-end: 4;
}