*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    position: relative;
}
.navbar{
    height: 50px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar h1{
    color: white;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.content{
    text-align: center;
    height: 1000px;
    position: relative;
}
.content p{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

